.action-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sort-btns {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    button {
        margin-right: 5px;
    }
}

.add-btn {
    width: 30%;
}
